{% extends 'base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
    <h1>Users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="{% url 'get-user' user.id %}">View</a> |
                <a href="{% url 'update-user' user.id %}">Edit</a> |
                <a href="#" onclick="deleteUser({{ user.id }})">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
